<div class="container">
    <div class="carousel-caption">
        <h1>Variety of things for you</h1>
        <p> We have the best for you</p>
        <p> <a href="/products/vegetebles" role="button" class="btn btn-primary btn-lg">Products</a> </p>

    </div>
</div>