<div class="alert alert-success" role="alert">
    <h4 class="alert-heading"> {{user.name}}Well done!</h4>
    <p>Aww yeah, you successfully bought our products.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to contact us.</p>
</div>